PLATFORM_PASSWORD=Nutrisari2026!
PLATFORM_URL=https://your-platform-url.com
REFERRAL_CODE=6JWDPG

AUTO_SKIP_RATE_LIMIT=true

WINDOW_WIDTH=1366
WINDOW_HEIGHT=768
WINDOW_X=
WINDOW_Y=

QODER_URL=https://your-platform-url.com/dashboard/providers/qoder
QODER_ACCOUNT_PASSWORD=your_account_password
ALIBABA_PASSWORD=your_alibaba_password

CAPTCHA_SOLVER_PROVIDER=manual // manual (default), local (localhost:5010) atau capmonster
CAPMONSTER_API_KEY= // required jika

PROXY= // format: http://user:pass@ip:port atau http://ip:port
PROXIES= // format: http://user:pass@ip:port,http://user:pass@ip:port

USE_PROXY=false
USE_PROXY_CSV=true
USE_REFERRAL_CODE=false
AUTO_SKIP_MANUAL_CAPTCHA=false
HEADLESS=false
