PLATFORM_PASSWORD=Nutrisari2026!
PLATFORM_URL=https://your-platform-url.com
REFERRAL_CODE=6JWDPG

WINDOW_WIDTH=1366
WINDOW_HEIGHT=768
WINDOW_X=
WINDOW_Y=

QODER_URL=https://your-platform-url.com/dashboard/providers/qoder
QODER_ACCOUNT_PASSWORD=your_account_password
ALIBABA_PASSWORD=your_alibaba_password

CAPMONSTER_API_KEY= // auto solve captcha gambar (optional)

PROXY= // format: http://user:pass@ip:port atau http://ip:port
PROXIES= // format: http://user:pass@ip:port,http://user:pass@ip:port

USE_PROXY=false
USE_PROXY_CSV=true
USE_REFERRAL_CODE=false
